*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 1vw;
    height: 10vh;
    background-color: blueviolet;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    i{
        font-size: 3rem;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    text-align: center;
    gap: 10%;
}

a{
    text-decoration: none; 
    padding: 15px;
    background-color: #444444;
    width: 90px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px;
    border: 0px;
    color: white;
}
